<div class="panel panel-default">
  <div class="panel-body">
    <div>
      欢迎各位，博客会持续完善的。暂时以内容为主，来过了就要常来！有任何问题可以上<%= link_to("Github", "https://github.com/fwshun8023/r5000") %>提问，或者给我发邮件（fwshun8023@gmail.com）
    </div>
  </div>
</div>